/* = =====
FLexbox Grids
=========*/

.row {
  display: flex;
  flex-wrap: wrap;
}

.row_cell {
  flex: 1
}

.row_cell--2 {
  flex: 2
}

.row_cell--3 {
  flex: 3
}

.row_cell--top {
  align-self: flex-start
}

.row_cell--bottom {
  align-self: flex-end
}

.row_cell--center {
  align-self: center
}

.row--top {
  align-items: flex-start
}

.row--bottom {
  align-items: flex-end
}

.row--center {
  align-items: center
}